---
import Image from "astro/components/Image.astro";
import { lazy } from "astro/zod";
import Expert from "./Expert.astro";
const { position = ["CEO / Director Médico <br> Fundador Clínicas ClearDent","CEO / Director Médico <br> Fundador Clínicas ClearDent","CEO / Director Médico <br> Fundador Clínicas ClearDent","CEO / Director Médico <br> Fundador Clínicas ClearDent","CEO / Director Médico <br> Fundador Clínicas ClearDent",""], name = ["Ismael Cerezo", "Jose Quesada", "Guillermo del Pino", "Fernando Jiménez", "Álvaro Sánchez", "Y más ponentes sorpresa referentes del ámbito odontológico y empresarial"] } = Astro.props;
---

<div id="experts-section">
    <div class="experts-section-background">
        <div class="titulos">
            <div>
                <h1>APRENDE DE LOS <span>MEJORES EXPERTOS</span></h1>
            </div>
            <div class="dental">
                <h2>
                    Impulsa tu clínica<br>
                    Domina el sector dental
                </h2>
            </div>
        </div>
        <div class="images">
            <Expert/>
            <Expert/>
            <Expert/>
            <Expert/>
            <Expert/>
            <Expert/>
        </div>
    </div>
</div>
<style>
    @import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
    #experts-section{
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        /* max-width: 100vh; */
        position: relative;
    }

    .experts-section-background{
        /* height: 100%; */
        height: auto;
        /* background: rgb(16,24,34); */
        background: linear-gradient(rgba(16,24,34,1), rgba(3,5,11,1));
        border-radius: 48px;
        padding: 100px;
        /* margin: 100px; */
    }

    .titulos{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: 10%;
        position: relative;
        padding-bottom: 1em;
    }

    .images{
        /* display: grid;
        grid-template-columns: 30% 30% 30%; */
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }

    .titulos>div{
        width: 35%;
    }

    .dental{
        display: flex;
        flex-direction: row-reverse;
        /* position: relative; */
    }

    .dental h2{
        position: absolute;
        bottom: 5px;
        color: rgb(70, 186, 184);
        display: flex;
        text-align: end;
    }

    h1{
        font-family: 'Druk Wide Bold', sans-serif;
        font-size:2em;
        color: rgb(240, 240, 240);

    }

    h1 span{
        color: rgb(70, 186, 184);
    }
</style>