---
import Expert from "./Expert.astro";
---

<div id="experts-section">
    <div class="experts-section-background">
        <div class="titulos">
            <div class="learn">
                <h1>APRENDE DE LOS <span>MEJORES EXPERTOS</span></h1>
            </div>
            <div class="dental">
                <h2>
                    Impulsa tu clínica<br>
                    Domina el sector dental
                </h2>
            </div>
        </div>
        <div class="images">
            <Expert image="/images/01.png" name="Ismael Cerezo" position="CEO / DIRECTOR MÉDICO FUNDADOR DE CLÍNICAS CLEARDENT"/>
            <Expert image="/images/jose.webp" name="Jose Quesada" position="DIRECTOR DE DESARROLLO DE NEGOCIO / REV OPS CLÍNICAS CLEARDENT"/>
            <Expert image="/images/guille.webp" name="Guillermo del Pino" position="DIRECTOR DE MARKETING / HEAD OF SEO CLÍNICAS CLEARDENT"/>
            <Expert image="/images/Fernando-Jimenez-Auren.png" name="Fernando Jiménez" position="SOCIO DEPARTAMENTO FISCAL AUREN STARTUPS 360"/>
            <Expert image="/images/Álvaro Sánchez.png" name="Álvaro Sánchez" position="CEO DENARIUS FINANCE"/>
            <Expert image="/images/01_SINFONDO.webp" name="Laura" position="CEO"/>
        </div>
    </div>
</div>
<style>
    @import url('https://fonts.cdnfonts.com/css/druk-wide-bold');
    #experts-section{
        width: 100vw;
        background-color: rgb(0, 0, 0);
        position: relative;
    }

    .experts-section-background{
        height: auto;
        background: linear-gradient(rgba(16,24,34,1), rgba(3,5,11,1));
        border-radius: 48px;
        padding: 100px;
    }

    .titulos{
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content:space-around;
        height: 100%;
        /* position: relative; */
        padding-bottom: 1em;
        /* hyphens: auto; */
    }

    .images{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        justify-content: center;
    }

    /* .titulos>div:first-child{
        width: 50%;
    }

    .titulos>div:last-child{
        width: 50%;
    } */

    .titulos>div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;
    }

    /* .titulos>div:nth-child(2) h2{
        bottom: 5px;
        color: rgb(70, 186, 184);
        display: flex;
        text-align: end;
        align-items: end;
    } */

    .dental{
        width: 20em;
        /* height: 2em; */
        text-align: center;
    }
    
    .learn{
        width: 20em;
        /* text-align: center; */
        /* height: 2em; */
    }

    /* .dental{
        display: flex;
        flex-direction: row-reverse;
    }

    .dental h2{
        position: absolute;
        bottom: 5px;
        color: rgb(70, 186, 184);
        display: flex;
        text-align: end;
    } */

    .titulos>div:nth-child(2){
        display: flex;
        flex-direction: row-reverse;        
    }

    .titulos>div:nth-child(2) h2{
        /* position: absolute; */
        bottom: 5px;
        color: rgb(70, 186, 184);
        display: flex;
        text-align: end;
        align-items: end;
        /* hyphens: auto; */
    }

    h1 span{
        color: rgb(70, 186, 184);
    }

    @media (width < 840px){
        h1{
            font-family: 'Druk Wide Bold', sans-serif;
            font-size:2em;
            color: rgb(240, 240, 240);
        }

        .titulos>div:nth-child(2){
            display: flex;
            flex-direction: row;
        }

        .titulos>div:nth-child(2) h2{
            /* position: absolute; */
            bottom: 5px;
            color: rgb(70, 186, 184);
            display: flex;
            text-align: start;
            align-items: start;
            /* hyphens: auto; */
        }
    }

    @media (width >= 450px){
        h1{
            font-family: 'Druk Wide Bold', sans-serif;
            font-size:2em;
            color: rgb(240, 240, 240);
        }

    }

    @media (width < 450px){
        h1{
            /* font-family: 'Druk Wide Bold', sans-serif; */
            font-size:1.5em;
            /* color: rgb(240, 240, 240); */
        }

    }

</style>